@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Segundo Parcial</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">José Alejandro Ruiz Suárez</a>.</p>
</div>
